
  .btn {
    height: 2rem;
    background-color: rgb(212, 44, 44);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  .btn-nav {
    width: 4rem;
    
  }
  .btn-showpnow {
    width: 7rem;
  }
  .btn-category {
    width: 7rem;
    background: transparent;
    border: 1px solid #000;
    color: #000;
  }
  
  
  